.nav_Header{
    height: 70px;
    background: black;
  }
    .Header_inputs{
      font-size: 16px;
      color: gold;
    }
    .Header_login{
  
      width: 113px;
      position: relative;
      top: 5px;
      left: 10px;
  }
  .nav-link:hover{
      transform: scale(0.90);
      box-shadow: 0 20px 30px rgba(0,0,0,.12), 0 4px 8px rgba(218, 95, 95, 0.06);
      background-color:aliceblue;
      border-radius: 0.3rem;
  }
  .login-title{
    text-align: center;
  }
  .header-login{
     position: relative; 
    margin-left: 150px;
   
  }
  .select-options{
    border-radius: 0.1rem;
    width: 25%;
    height: 38px;
  }
  .Login-Button{
      margin-left: 30px;
      border-radius: 0.1rem;
  }
  
  
  
  
  